.alarm-center-detail-alarm-status-closed {
  display: flex;
  align-items: center;
  background-color: #eaebf0;
  padding: 0 8px 0 20px;
  height: 36px;
  border-left: 4px solid #c4c6cc;
  color: #313238;
}
