.alarm-center-detail-alarm-status-recovered {
  display: flex;
  align-items: center;
  background-color: #daf6e5;
  padding: 0 8px 0 20px;
  height: 36px;
  border-left: 4px solid #2caf5e;
  color: #2caf5e;
}
